.header {
  grid-area: header;
  display: flex;
}

.header_name {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

.header_logo {
  margin-top: 13px;
  margin-right: 5px;
  margin-left: 18px;
}
