* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header "
    "nav content ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1300px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.header_logo {
  margin: 17px 0px 0px 10px;
}

.nav {
  grid-area: nav;
  background-color: rgba(220, 220, 220, 0.3);
}

.content {
  grid-area: content;
}

.content_background {
  height: 250px;
  width: 100%;
}
